* {
    letter-spacing: 1px;
    background-color: blanchedalmond;
}
li { 
    display: block; 
    text-align: left;
}

#playAGame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}