li { 
    display: block; 
    text-align: left;
}

.navBarUl {
    color: black;
    background-color: #7092BF;
    height: 55px;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}

#bigDiv {
    margin-top: 100px;
    text-align: center;
    font-size: 5px;
}


body {
    background: radial-gradient(#ecb0b0, #c3c3db, #cde7cd);
}