li { 
    display: block; 
    text-align: left;
}
.navBarUl {
    color: black;
    background-color: #7092BF;
    height: 55px;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}




button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #743510;
    color: linen;
}

.answerAll {
    color: #743510;
}


#bigDiv {
    height: 1000px;
    margin-top: 55px;
    background:linear-gradient(#d6c5e7, linen) ;
}

.divMargin {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    padding: 10px;
    height: 170px;
    width: 300px;
    float: left;
    border: 3px solid #5f3106;
    background:linear-gradient(linen, rosybrown) ;
}